PruebaNET/Connected Services/Servicio/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPersona">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Persona" nillable="true" type="tns:Persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersona" nillable="true" type="tns:ArrayOfPersona" />
  <xs:complexType name="Persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo_Electronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo_Electronico2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion_Fisica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion_Fisica2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Documento_Identidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha_Nacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Persona" nillable="true" type="tns:Persona" />
</xs:schema>